<% provide :title, t("admin.admin_dashboard") %>
<div class="shadow-sm p-3 mb-5 bg-body rounded row">
  <div class="col-12 border-bottom border-3 mb-4">
    <%= line_chart Receipt.by_day_from(Date.today.at_beginning_of_week ).joins(:room).group("rooms.name")
      .group_by_day(:created_at).sum(:into_money),
      title: t("admin.index.revenue_by_room"),
      library: {animation: {easing: :easeInOutCubic}}%>
  </div>
  <div class="col-12 border-bottom border-3 mb-4">
    <%= area_chart Receipt.group_by_week(:created_at).sum(:into_money),
      title: t("admin.index.weekly_revenue"),
      library: {animation: {easing: :easeInOutCubic}}%>
  </div>
  <div class="col-4 border-end">
    <%= pie_chart Receipt.joins(:user).group("users.last_name").sum(:into_money),
      title: t("admin.index.spending_customer"),
      library: {animation: {easing: :easeInOutCubic}} %>
  </div>
  <div class="col-8">
    <%= column_chart User.group_by_week(:created_at).count,
      title: t("admin.index.weekly_registering_customers"),
      library: {animation: {easing: :easeInOutCubic}}%>
  </div>
</div>
